.my_mixin {
	@include size (500px,50px);
}

.logoHeader{
	@include size (120px,40px);
    grid-area:logoHeader;
    align-self: center;
}

.footerImg{
	@include size (500px,500px);
}

.portfolio1{
	@include size (220px,150px);
	border-radius: $borderImg;
}

.footerLink{
    @include size (24px,24px);
}