
header{
    background-color:$colorRosa;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 15px;
    font-style: bold;
    line-height: 16px;
    color:#050607;
    padding: 8px;
    padding: 24px;
}


nav ul li{
    justify-content: end;
    margin: 8px;
    }