$colorNaranja:#F4CCA1;
$colorRosa:#E2B3D4;
$colorCeleste:#B8DFE3;
$colorAzul:#015a64;
$colorNegro:#000000;
$colorVerde:#CCE3C3;

$border: 3px solid $colorAzul;

@mixin size ($width,$height) {
	height: $height;
	width: $width;
}

$borderImg: 10px;

$marginCardsMobile: 16px;

$borderCardsMobile: 20px;
$borderCardsDesk: 30px;

$paddingCardsMobile: 16px;
$marginBody:60px;

$paddingTablet:24px;
$paddingWeb: 80px;
