@import "fuentes";
@import "generales";
@import "nav";
@import "variableGlobal";
@import "imagenes";

.contactLinks{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: $colorAzul;
    font-weight: bolder;
    background-color: $colorRosa;
    padding: 16px;
    border-radius: $borderCardsMobile;
    border: $border;
    border-style:outset;
    text-decoration:none;
}

.contactLink{
    margin-right: 40px;
}

.navigation{
    grid-area: navigation;
    text-decoration:none;
}

.servicesHome{
    @extend .welcome;
    background-color: $colorRosa;
}

.aboutMe{
    @extend .welcome;
}
.clients{
    background-color: $colorRosa;
    @extend .welcome;
}

.portfolioh{
    @extend .welcome;
}

.item1{
    grid-area:item1;
}

.item2{
    grid-area:item2;
}

.item3{
    grid-area:item3;
}

.item4{
    grid-area:item4;
}

.item5{
    grid-area:item5;
}

.item6{
    grid-area:item6;
}

.item7{
    grid-area:item7;
}

.todo{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-top: $marginCardsMobile;
}

.footerUl{
    grid-area: footerUl;
    }

footer ul li{
    list-style-type: none;
    display: inline-flex;
    margin: 8px;
    justify-content: center;
    justify-items: center;
}

.myOwnBusinessDiv{
    grid-area:myOwnBusinessDiv;
    padding: $paddingCardsMobile;
    margin-left:$marginCardsMobile;
    margin-right:$marginCardsMobile;
}

.myOwnBusinessDiv h2{
    text-align: center;
    justify-self: center;
}

.myOwnBusiness{
    @extend .welcome;
    background-color: $colorRosa;
    grid-area:myOwnBusiness;
}

.itWorld{
    @extend .welcome;
    grid-area: itWorld;
}

.early{
    @extend .welcome;
    grid-area: early;
}

.bodyIt{
    grid-area: bodyIt;
}

.recrearmeText{
    grid-area: recrearmeText;
}

.recrearmeCta{
    grid-area: recrearmeCta;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    gap: 24px;
    margin-top: 24px;
    border: $borderCardsMobile;
    margin-left:$marginCardsMobile;
    margin-right:$marginCardsMobile;
}

.stportfolio{
    grid-area: stportfolio;
    @extend .welcome;
}

.disney{
    grid-area: disney;
    background-color: $colorRosa;
    @extend .welcome;
}


.disneyText{
    grid-area: disneyText;
}

.disneyCta{
    grid-area: disneyCta;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    gap: 24px;
    margin-top: 24px;
}

.portfoliopre{
    grid-area: portfoliopre;
    @extend .welcome;
}

.portfolioText{
    grid-area: portfolioText;
}

.portfolioCta{
    grid-area: portfolioCta;
    display: flex;
    flex-direction:column;
    justify-content: center;
    justify-items: center;
    gap: 24px;
    margin-top: 24px;
}

.uxResearch{
    @extend .welcome;
}

.researchText{
    grid-area: researchText;
}

.reseImg{
    grid-area: researchImg;
}

.uxdesign{
    @extend .welcome;
    background-color: $colorRosa;
}

.uiDesign{
    @extend .welcome;
}

.copywriting{
    @extend .welcome;
    background-color: $colorRosa;
}

.costumerX{
    @extend .welcome;
}

.meeting{
    grid-area: meeting;
    margin-left:24px;
    margin-right: 24px;
}

.usefulLinks{
    grid-area: usefulLinks;
    margin-left:24px;
    margin-right: 24px;
}

@media screen and (min-width: 768px){
    .welcome{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "item1 item2"
        "buttonPortfolio buttonPortfolio";
    }

    .servicesHome{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "item4 item3"
        "buttonPortfolio buttonPortfolio";
    }
    .aboutMe{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "item5 item6"
        "buttonPortfolio buttonPortfolio";
    }

    .clients{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logoHeader{
        width: 240px;
        height: 80px;
        grid-area:logoHeader;
        align-self: center;

    }
    .home{
        width: 330px;
        height: 250px;
        border-radius: 10%;
        align-self: center;
    }
    .home2{
        width: 320px;
        height: 240px;
        border-radius: 10%;
        align-self: center;
    }
    .home3{
        width: 430px;
        height: 250px;
        margin-right: 16px;
        border-radius: 10%;
        align-self: center;
    }

    
    .contactPage{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "usefulLinks meeting";
        gap:24px;
    }
    footer{
        background-color:#CCE3C3;
        font-family: 'Lato', sans-serif;
        font-weight: 1000;
        font-size: 14px;
        font-style: normal;
        text-decoration: none;
        line-height: 30px;
        color:#050607;
        padding: 16px;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px){
    
    .contactPage{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "usefulLinks meeting";
        gap:36px;
        margin-bottom: 0px;
    }
    
    .todo{
        display: grid;
        gap: 24px;
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
        "header header"
        "welcome aboutMe"
        "servicesHome servicesHome"
        "clients clients"
        "footer footer"
    }
    
    .servicesHome{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "item4 item3"
        "buttonPortfolio buttonPortfolio";
        background-color: #F4CCA1;
    }

    .aboutMe{
        background-color: #E2B3D4;
    }

    .clients{
        background-color: #F4CCA1;
    }

    .welcome{
        display:flex;
        flex-direction: column;
    }
    .home2{
        width: 320px;
        height: 240px;
        border-radius: 10%;
        align-self: center;
    }
    .home3{
        width: 430px;
        height: 250px;
        margin-right: 16px;
        border-radius: 10%;
        align-self: center;
    }

    .usefulLinks{
        grid-area: usefulLinks;
        margin-left:16px;
        margin-right: 16px;
    }
    
    .usefulLinks{
        grid-area: usefulLinks;
        margin-left:8px;
        margin-right: 8px;
    }
}