@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F4CCA1;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 35px;
  font-style: bold;
  line-height: 30px;
  color: #015a64;
  margin-top: 16px;
  margin-bottom: 16px;
  align-self: center;
  text-align: center;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
}

header {
  background-color: #E2B3D4;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 15px;
  font-style: bold;
  line-height: 16px;
  color: #050607;
  padding: 8px;
  padding: 24px;
}

nav ul li {
  justify-content: end;
  margin: 8px;
}

.my_mixin {
  height: 50px;
  width: 500px;
}

.logoHeader {
  height: 40px;
  width: 120px;
  grid-area: logoHeader;
  align-self: center;
}

.footerImg {
  height: 500px;
  width: 500px;
}

.portfolio1 {
  height: 150px;
  width: 220px;
  border-radius: 10px;
}

.footerLink {
  height: 24px;
  width: 24px;
}

h2 {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 28px;
  font-style: bolder;
  line-height: 30px;
  color: #015a64;
  margin-top: 8px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  h2 {
    padding: 16px;
  }
}

@media screen and (min-width: 768px) {
  .servicesHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item4 item3" "buttonPortfolio buttonPortfolio";
  }
}
@media screen and (min-width: 1024px) {
  .servicesHome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item4 item3" "buttonPortfolio buttonPortfolio";
    background-color: #F4CCA1;
  }
}

@media screen and (min-width: 768px) {
  .aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item5 item6" "buttonPortfolio buttonPortfolio";
  }
}

@media screen and (min-width: 768px) {
  .clients {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .clients {
    background-color: #F4CCA1;
  }
}

@media screen and (min-width: 768px) {
  .logoHeader {
    width: 240px;
    height: 80px;
    grid-area: logoHeader;
    align-self: center;
  }
}

.home {
  height: 150px;
  width: 220px;
  border-radius: 10px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .home {
    height: 250px;
    width: 330px;
  }
}
@media screen and (min-width: 1024px) {
  .home {
    height: 600px;
    width: 810px;
    margin-bottom: 16px;
  }
}

.home2 {
  height: 150px;
  width: 200px;
  border-radius: 10px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .home2 {
    height: 240px;
    width: 320px;
  }
}
@media screen and (min-width: 1024px) {
  .home2 {
    height: 600px;
    width: 810px;
    margin-bottom: 16px;
  }
}

.home3 {
  height: 120px;
  width: 260px;
  border-radius: 10px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .home3 {
    height: 250px;
    width: 430px;
  }
}
@media screen and (min-width: 1024px) {
  .home3 {
    height: 400px;
    width: 810px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .contactPage {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "usefulLinks meeting";
    gap: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .contactPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "usefulLinks meeting";
    gap: 36px;
    margin-bottom: 0px;
  }
}

.footer {
  background-color: #CCE3C3;
  font-family: "Lato", sans-serif;
  font-weight: 1000;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
  color: #000000;
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
  }
}

.welcome, .costumerX, .copywriting, .uiDesign, .uxdesign, .uxResearch, .portfoliopre, .disney, .stportfolio, .early, .itWorld, .myOwnBusiness, .portfolioh, .clients, .aboutMe, .servicesHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: 3px solid #015a64;
  border-radius: 20px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
}
@media screen and (min-width: 768px) {
  .welcome, .costumerX, .copywriting, .uiDesign, .uxdesign, .uxResearch, .portfoliopre, .disney, .stportfolio, .early, .itWorld, .myOwnBusiness, .portfolioh, .clients, .aboutMe, .servicesHome {
    display: flex;
    flex-direction: column;
    font-size: 23px;
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .usefulLinks {
    grid-area: usefulLinks;
    margin-left: 16px;
    margin-right: 16px;
  }
}

p {
  margin-top: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 23px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-weight: 550;
    margin-top: 16px;
  }
}

.recrearmeImg {
  height: 140px;
  width: 250px;
  border-radius: 20px;
  align-self: center;
  grid-area: recrearmeImg;
}
@media screen and (min-width: 768px) {
  .recrearmeImg {
    height: 300px;
    width: 540px;
    border-radius: 30px;
  }
}
.disneyImg {
  height: 180px;
  width: 250px;
  border-radius: 20px;
  align-self: center;
  grid-area: disneyImg;
}
@media screen and (min-width: 768px) {
  .disneyImg {
    height: 380px;
    width: 540px;
    border-radius: 30px;
  }
}
.portfolioImg {
  height: 170px;
  width: 250px;
  border-radius: 20px;
  align-self: center;
  grid-area: portfolioImg;
}
@media screen and (min-width: 768px) {
  .portfolioImg {
    height: 370px;
    width: 540px;
    border-radius: 30px;
  }
}
.mockup {
  height: 300px;
  width: 250px;
  border-radius: 20px;
  align-self: center;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .mockup {
    height: 600px;
    width: 540px;
    margin-top: 16px;
    border-radius: 30px;
  }
}
.mockup2 {
  height: 140px;
  width: 250px;
  border-radius: 20px;
  align-self: center;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .mockup2 {
    height: 300px;
    width: 540px;
    border-radius: 30px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .mockup2 {
    height: 450px;
    width: 810px;
    margin-bottom: 16px;
  }
}

.mockup3 {
  height: 140px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .mockup3 {
    height: 320px;
    width: 540px;
    border-radius: 30px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .mockup3 {
    height: 470px;
    width: 810px;
    margin-bottom: 16px;
  }
}

.mockup4 {
  height: 140px;
  width: 250px;
}
@media screen and (min-width: 768px) {
  .mockup4 {
    height: 300px;
    width: 540px;
    border-radius: 30px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .mockup4 {
    height: 450px;
    width: 810px;
    margin-bottom: 16px;
  }
}

.itemMeli {
  height: 300px;
  width: 200px;
  border-radius: 10px;
  grid-area: itemMeli;
  align-self: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .itemMeli {
    height: 600px;
    width: 420px;
    border-radius: 30px;
    margin-top: 16px;
  }
}

.bodyItimg {
  height: 200px;
  width: 270px;
  grid-area: bodyItimg;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .bodyItimg {
    height: 400px;
    width: 540px;
    border-radius: 30px;
    margin-top: 16px;
  }
}

button {
  padding: 8px;
  margin: 16px;
  background-color: #B8DFE3;
  border-radius: 20px;
  text-align: center;
  background-color: #B8DFE3;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  font-style: bold;
  line-height: 30px;
  color: #000000;
  grid-area: buttonPortfolio;
  border: 3px solid #015a64;
  width: 180px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 280px;
    font-size: 24px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

.welcoming2 {
  font-size: 23px;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .welcoming2 {
    font-size: 27px;
  }
}
@media screen and (min-width: 1024px) {
  .welcoming2 {
    font-size: 32px;
  }
}

.contactLinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #015a64;
  font-weight: bolder;
  background-color: #E2B3D4;
  padding: 16px;
  border-radius: 20px;
  border: 3px solid #015a64;
  border-style: outset;
  text-decoration: none;
}

.contactLink {
  margin-right: 40px;
}

.navigation {
  grid-area: navigation;
  text-decoration: none;
}

.servicesHome {
  background-color: #E2B3D4;
}

.clients {
  background-color: #E2B3D4;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.footerUl {
  grid-area: footerUl;
}

footer ul li {
  list-style-type: none;
  display: inline-flex;
  margin: 8px;
  justify-content: center;
  justify-items: center;
}

.myOwnBusinessDiv {
  grid-area: myOwnBusinessDiv;
  padding: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.myOwnBusinessDiv h2 {
  text-align: center;
  justify-self: center;
}

.myOwnBusiness {
  background-color: #E2B3D4;
  grid-area: myOwnBusiness;
}

.itWorld {
  align-items: center;
  grid-area: itWorld;
}

.early {
  grid-area: early;
}

.bodyIt {
  grid-area: bodyIt;
}

.recrearmeText {
  grid-area: recrearmeText;
}

.recrearmeCta, .portfolioCta, .disneyCta {
  grid-area: recrearmeCta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  border: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.stportfolio {
  grid-area: stportfolio;
}

.disney {
  grid-area: disney;
  background-color: #E2B3D4;
}

.disneyText {
  grid-area: disneyText;
}

.portfoliopre {
  grid-area: portfoliopre;
}

.portfolioText {
  grid-area: portfolioText;
}

.portfolioCta {
  grid-area: portfolioCta;
}

.researchText {
  grid-area: researchText;
}

.reseImg {
  grid-area: researchImg;
}

.uxdesign {
  background-color: #E2B3D4;
}

.copywriting {
  background-color: #E2B3D4;
}

.meeting {
  grid-area: meeting;
  margin-left: 24px;
  margin-right: 24px;
}

.usefulLinks {
  grid-area: usefulLinks;
  margin-left: 24px;
  margin-right: 24px;
}

.welcoming, .welcoming2 {
  text-align: center;
}/*# sourceMappingURL=estilo.css.map */